@page
@model SESEWebsite.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Register</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.OtherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.OtherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register.ConfirmPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.ConfirmPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Register.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
