@page
@model SESEWebsite.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].TxrRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].RegistredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionModel[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransactionModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxrRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
